input[type="email"]:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

input[type="email"]:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid deepskyblue;
    border-radius: 5px;
    accent-color: gold;
}